body {
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  overflow: auto;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  right: 0;
}

.container-fluid {
  border-radius: 5px;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.container-fluid a {
  font-size: 18px;
  color: red;
}

.navbar .logo {
  font-size: 25px;
  font-weight: bold;
  color: red;
}
.navbar .nav a {
  font-size: 18px;
  color: Black;
}
.navbar .nav a.active {
  background-color: red;
  color: white;
  text-decoration: underline;
}
.navbar .nav a:hover {
  background-color: red;
  color: white;
  text-decoration: underline;
}

.header {
  overflow: auto;
  background-color: white;
  padding: 20px 10px;
}
.header a {
  font-size: 18px;
  color: red;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: red;
}
.header a.active {
  background-color: red;
  color: white;
  text-decoration: underline;
}

#principe {
  width: 1130px;
  height: 400px;
  margin: 10px;
  margin-bottom: 50px;
  /*border:1px solid rgb(214, 26, 152);*/
  box-shadow: 0px 8px #d6d6c2;
  border-radius: 5px;
}
#principe .princmain {
  margin-top: 100px;
  margin-left: 10px;
  /*border:1px solid yellow;*/
  width: 300px;
  height: 140px;
}
#principe .princmain.paraph {
  margin-top: 50px;
  margin-left: 10px;
  /*border:1px solid red; */
  width: 450px;
  height: 140px;
}
#principe .princmain.paraphT {
  padding-top: 10px;
  width: 250px;
  height: 80px;
  border: 1px solid green;
}
#principe .princmain #BtnJ {
  margin-top: 30px;
  margin-left: 10px;
}

.copleft {
  margin-top: 30px;
}

.paraph h1.titl {
  color: white;
}

.paraphT p {
  font-size: 15px;
  margin-top: 50px;
  color: white;
}

#princip {
  width: inherit;
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  height: 120px;
}
#princip .fakeimg2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  width: inherit;
}
#princip .title {
  color: Black;
  font-size: 50px;
}

.paraphTe {
  top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 450px;
  height: 50px;
  font-size: 1em;
}
.paraphTe p {
  font-size: 1em;
  color: Black;
}

.cop {
  color: red;
}

#BtnJD {
  margin-bottom: 10px;
}

#exampleModalLong {
  background-color: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: vertical;
}

input[type=date] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: vertical;
}

input[type=submit] {
  margin-left: auto;
  margin-right: auto;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#psucces {
  font-size: 2em;
  text-align: center;
}

.falseM {
  margin-top: 0px;
  font-size: 0.9em;
  color: red;
}

/*# sourceMappingURL=style.css.map */
