$colRed:red;
$colWhite:white;
$colBlack:Black;
$colYellow:yellow;

.navbar{
    overflow: auto;
    background-color: #ffffff;
    padding: 20px 10px;
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    right: 0;
  }
.container-fluid { 
    border-radius: 5px;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;

    a{
        font-size: 18px;
	    color: red;
    }
    
}
.navbar{
   .logo{
    font-size: 25px;
    font-weight: bold;
    color: $colRed;
   }
  .nav{
    a{
        font-size: 18px;
	    color: $colBlack;
        &.active{
            background-color: $colRed;
            color: $colWhite;
            text-decoration:underline;
        }
        &:hover{
            background-color: $colRed;
            color: $colWhite;
            text-decoration:underline;
        }

    }
  
  }
}
.header{
    overflow: auto;
    background-color:$colWhite;
    padding: 20px 10px;
        
    a{
        font-size: 18px;
	    color: $colRed;

        &.logo{
            //margin-left:30px;
            font-size: 25px;
            font-weight: bold;
            color: $colRed;
        }
        &.active{
            background-color: $colRed;
            color: $colWhite;
            text-decoration:underline;
        }
    }
    
}

#principe{
    width:1130px;
    height:400px;
    margin:10px;
    margin-bottom:30px;
    /*border:1px solid rgb(214, 26, 152);*/
    box-shadow: 0px 8px  #d6d6c2;
    border-radius: 5px;
   .princmain{
        margin-top:150px;
        margin-left: 10px;
        /*border:1px solid yellow;*/
        width:300px;
        height:140px;
       &.paraph{
            margin-top:210px;
            margin-left: 10px;
            /*border:1px solid red; */
            width:450px;
            height:140px;
            
        }
        &.paraphT{
            padding-top:10px;
            margin:10px;
            width:250px;
            height:80px;
         	border:1px solid green; 
        }
        #BtnJ{
            margin-top:30px;
            margin-left:10px;
        }
       
    }
    
}
.copleft{
    
    margin-top: 10px;
}
.paraph{
    h1{
        &.titl{
          color: $colWhite;  
        }
        
    }
}
.paraphT p{
	font-size: 15px;
	color:$colWhite;
}
#princip{
    width: inherit;
    margin-top:150px;
    margin-left: 20px;
    margin-right: 20px;
    height:120px; 
  
    .fakeimg2{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        width:inherit;
    } 
    .title{
        color:$colBlack;
        font-size: 50px;
    }
    
}
.paraphTe{
    top:10px;
	margin-left:10px;
	margin-bottom:10px;
	width:450px;
	height:50px;
    font-size: 1.0em;
    p{
        font-size: 1.0em;
        color:$colBlack;
    }
   
}
.cop{
	color:$colRed;
}
#BtnJD{
    margin-bottom:10px;
}

#exampleModalLong{
	background-color:$colWhite;
    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px; 
  
    resize: vertical ;
}


input[type=submit] {
	margin-left:auto;
	margin-right:auto;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}
 
#psucces{
	font-size:2em;
	text-align: center;
}

.falseM{
	margin-top:0px;
	font-size:0.9em;
	color:red;
	
}

@media screen and (max-width: 767) {
 
  
}


