body{
	/* margin-left:10px;
	margin-right:10px;
	 */
	
}
.header {
  overflow: auto;
  background-color: #ffffff;
  padding: 20px 10px;
}


.header a{
	font-size: 18px;
	color: red;
	
}
.header-right a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  margin-left:30px;
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.header-right a:hover {
   background-color: red;
  color: white;
  text-decoration:underline;
}

.header a.active {
  background-color: red;
  color: white;
  text-decoration:underline;
}

.header-right {
  float: right;
}

 #principe{
	 width:1130px;
	 height:400px;
	 margin-bottom:50px;
	 /* border:1px solid blue; */
	 box-shadow: 0px 8px  #d6d6c2;
	 border-radius: 5px;
 }


 .fakeimg {
    max-width: 100%;
    height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 5px;
}

 h1.titl {
    font-size: 50px;
	color:#ffffff;
  }
  h1.tit {
	margin:10px;  
    font-size: 50px;
	color:black;
  }
.paraph{
	margin:10px;
	/*  border:1px solid red; */
	width:450px;
	height:140px;
	
}
.paraphT{
	padding-top:10px;
	margin:10px;
	width:250px;
	height:80px;
/* 	border:1px solid green; */
}
.paraphT p{
	font-size: 15px;
	color:#ffffff;
}
 #BtnJ{
	margin-top:50px;
	margin-left:10px;
 }
 
.paraphTe{
	top:10px;
	margin-left:10px;
	margin-bottom:10px;
	width:450px;
	height:50px;
}
 .paraphTe p{
	font-size: 18px;
	color:black;
} 
#BtnJD{
	margin-left: auto;
    margin-right: auto;
	margin-top:20px;
	
}
.cop{
	color:red;
	
}
#copp{
	margin-left:5px;
	
}

#exampleModalLong{
	background-color:white;
	
}
#btnMod{
	margin-top:10px;
	width: 150px;
	height:50px;
	
	
}
.BackS{
	border:1px solid yellow;
	width:max-width;
	height:max-height;
	background-color:red;
	
	
}
#psucces{
	/*margin-top:200px;
	margin-bottom:200px;
	margin-left:auto;
	margin-right:auto;*/
	font-size:2em;
	text-align: center;
}
@media screen and (max-width: 1440px) {
	

}

@media screen and (max-width: 500px) {

  .header-right a {
    float: none;
    display: none;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
  .header-left {
    float: none;
  } 
  p.titl1 {
    font-size: 51px;
  }

  .column {
    float: left;
  }

}
.falseM{
	margin-top:0px;
	font-size:0.9em;
	color:red;
	
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
   /*  margin-bottom: 16px; */ /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	margin-left:auto;
	margin-right:auto;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
   /*  background-color: #f2f2f2; */
    padding: 20px;
}